*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;            
}
body{
    background-image: url("../images/man-wearing-black-cap-with-eyes-closed-under-cloudy-sky-810775.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
             
}
.faq-bg{

    background-color:  lightblue;
    height: 100vh;
}


.faq-container{

    display: flex;
    justify-content: center;

}


a{
    text-decoration: none;
}
header{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}
.logo{
    cursor: pointer;
}
.nav-area{
    list-style: none;
}
.nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
}
.nav-area li a{
    transition: all .3s ease 0s;
    color: #fff;
}
.nav-area li a:hover{
    color: #006C87;
}
.btn-area {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background: #006C87;            
}

.middle-text {

    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 90px;
    font-family: 'Merriweather', serif;
}