<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">  
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/CSS" href="../css/style.css">
    <title>Resources</title>
</head>



<body>

    <nav>
        <div class="logo">
            <h4> Tranquil</h4>
        </div>
        <ul class="nav-links">
            <li><a href="index">Home</a></li>
            <li><a href="questionnaire">Questionnaire</a></li>
            <li><a href="resources">Resources</a></li>
            <li><a href="your-plan">Plan</a></li>
            <li><a href="faq">FAQ</a></li>
            <li><a href="contact">Contact</a></li>
  
        </ul>
        <div class="accordian">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
      
    
    

    <h1>FAQ</h1>

<div class="accordion">
  <div class="accordion-item">
    <div class="accordion-item-header">
        Why did you create this website?
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        I created this website for people that do no know how to manage their Anxiety, Anger, and Depression.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-item-header">
        How many people have anxiety and Depression?
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        According to Anxiety and Depression Association of America (ADAA), Anxiety affects 40 million adults in the US age 18 and older. Depression also affects 15.7 million adults with same age range!
      </div>
    </div>
  </div>
  
  <div class="accordion-item">
    <div class="accordion-item-header">
        Do you know any books that you recommend for Anxiety & Depression?
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        Yes, please check them out on the resources page. There are good books to read!
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <div class="accordion-item-header">
        I noticed on your resources page you put CBT (Cognitive Behavior Therapy) on your page, what is that?
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        Cognitive Behavioral Therapy is a type of psychotherapeutic treatment which helps patients understand the thoughts and feelings that influence behaviors. 
      </div>
    </div>
  </div>


</div>
   
    <div class="wrapper">
                
      <div class="footer">
        <div class="footer_menu">
           <div class="col_1">
             
              <ul>
                <li><a href="questionnaire">Questionnaire</a></li>
                <li><a href="your-plan">Plan</a></li>
              </ul>
           </div>
           <div class="col_2">
             
              <ul>
                <li><a href="resources">Resources</a></li>
                <li><a href="contact">Contact</a></li>
              </ul>
           </div>
           <div class="col_3">
            
              <ul>
                <li><a href="index">Home</a></li>
                <li><a href="faq">FAQ</a></li>
               
              </ul>
           </div>
             
            </div>
          
                <p>Copyright © Tranquil</p>
            </div>
        </div>
    </div>

    <script src="nav-script.js"></script>
    <script src="/js/accordion-script.js"></script>
    
</body>

    



           
</html>