<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/CSS" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">  
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <title>Questionnaire</title>
</head>
<body>
<div>
  
      <nav>
        <div class="logo">
            <h4> Tranquil</h4>
        </div>
        <ul class="nav-links">
            <li><a href="index">Home</a></li>
            <li><a href="questionnaire">Questionnaire</a></li>
            <li><a href="resources">Resources</a></li>
            <li><a href="your-plan">Plan</a></li>
            <li><a href="faq">FAQ</a></li>
            <li><a href="contact">Contact</a></li>

        </ul>
        <div class="accordian">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

</div>
<h1 class ="middle-text" id="pageHeading"> Questionnaire</h1>

  <section id="questionsSection"> 
      <div class="question-box" id="question1" style="display: block;">
        <h2>
          Question (1-15): Do you experience intense anxiety or worry and find it difficult to control?
        </h2>
        <div class="answers">
          <input type="button" name="Answer1" value="Yes" class="btn btn-primary ans-box">
          <input type="button" name="Answer1" value="No" class="btn btn-primary ans-box">
        </div>
        <button type="button" class="btn btn-success next-question">Next</button>
      </div>

      <div class="question-box" id="question2">
        <h2>
          Question (2-15): Does worry or anxiety make you feel fatigued or irritable?
        </h2>
        <div class="answers">
          <input type="button" name="Answer2" value="Yes" class="btn btn-primary ans-box">
          <input type="button" name="Answer2" value="No" class="btn btn-primary ans-box">
        </div>
        <button type="button" class="btn btn-success next-question">Next</button>
      </div>

      <div class="question-box" id="question3">
        <h2>
          Question (3-15): Does worry or anxiety interfere with your sleep or ability to concentrate?
        </h2>
        <div class="answers">
          <input type="button" name="Answer3" value="Yes" class="btn btn-primary ans-box">
          <input type="button" name="Answer3" value="No" class="btn btn-primary ans-box">
        </div>
        <button type="button" class="btn btn-success next-question">Next</button>
      </div>

      <div class="question-box" id="question4">
        <h2>
          Question (4-15): Do you experience repetitive and persistent thoughts that are upsetting and unwanted?
        </h2>
        <div class="answers">
          <input type="button" name="Answer4" value="Yes" class="btn btn-primary ans-box">
          <input type="button" name="Answer4" value="No" class="btn btn-primary ans-box">
        </div>
        <button type="button" class="btn btn-success next-question">Next</button>
      </div>

      <div class="question-box" id="question5">
        <h2>
          Question (5-15): Do you ever avoid places or social situations for fear of this panic?
        </h2>
        <div class="answers">
          <input type="button" name="Answer5" value="Yes" class="btn btn-primary ans-box">
          <input type="button" name="Answer5" value="No" class="btn btn-primary ans-box">
        </div>
        <button type="button" class="btn btn-success next-question">Next</button>
      </div>

      <div class="question-box" id="question6">
        <h2>
          Question (6-15): My future seems hopeless.
        </h2>
        <div class="answers">
          <input type="button" name="Answer6" value="Yes" class="btn btn-primary ans-box">
          <input type="button" name="Answer6" value="No" class="btn btn-primary ans-box">
        </div>
        <button type="button" class="btn btn-success next-question">Next</button>
      </div>

      <div class="question-box" id="question7">
        <h2>
          Question (7-15): The pleasure and joy has gone out of my life.
        </h2>
        <div class="answers">
          <input type="button" name="Answer7" value="Yes" class="btn btn-primary ans-box">
          <input type="button" name="Answer7" value="No" class="btn btn-primary ans-box">
        </div>
        <button type="button" class="btn btn-success next-question">Next</button>
      </div>

      <div class="question-box" id="question8">
        <h2>
          Question (8-15): I have lost interest in aspects of life that used to be important to me.
        </h2>
        <div class="answers">
          <input type="button" name="Answer8" value="Yes" class="btn btn-primary ans-box">
          <input type="button" name="Answer8" value="No" class="btn btn-primary ans-box">
        </div>
        <button type="button" class="btn btn-success next-question">Next</button>
      </div>

      <div class="question-box" id="question9">
        <h2>
          Question (9-15): I feel sad, blue, and unhappy.
        </h2>
        <div class="answers">
          <input type="button" name="Answer9" value="Yes" class="btn btn-primary ans-box">
          <input type="button" name="Answer9" value="No" class="btn btn-primary ans-box">
        </div>
        <button type="button" class="btn btn-success next-question">Next</button>
      </div>

      <div class="question-box" id="question10">
        <h2>
          Question (10-15): I feel fatigued.
        </h2>
        <div class="answers">
          <input type="button" name="Answer10" value="Yes" class="btn btn-primary ans-box">
          <input type="button" name="Answer10" value="No" class="btn btn-primary ans-box">
        </div>
        <button type="button" class="btn btn-success next-question">Next</button>
      </div>

      <div class="question-box" id="question11">
        <h2>
          Question (11-15): Do you worry excessively and feel overwhelmed with responsibilities?
        </h2>
        <div class="answers">
          <input type="button" name="Answer11" value="Yes" class="btn btn-primary ans-box">
          <input type="button" name="Answer11" value="No" class="btn btn-primary ans-box">
        </div>
        <button type="button" class="btn btn-success next-question">Next</button>
      </div>

      <div class="question-box" id="question12">
        <h2>
          Question (12-15): Do you struggle to focus on tasks or stay motivated?
        </h2>
        <div class="answers">
          <input type="button" name="Answer12" value="Yes" class="btn btn-primary ans-box">
          <input type="button" name="Answer12" value="No" class="btn btn-primary ans-box">
        </div>
        <button type="button" class="btn btn-success next-question">Next</button>
      </div>

      <div class="question-box" id="question13">
        <h2>
          Question (13-15): Do you withdraw from others or feel overwhelmed in groups of people?
        </h2>
        <div class="answers">
          <input type="button" name="Answer13" value="Yes" class="btn btn-primary ans-box">
          <input type="button" name="Answer13" value="No" class="btn btn-primary ans-box">
        </div>
        <button type="button" class="btn btn-success next-question">Next</button>
      </div>

      <div class="question-box" id="question14">
        <h2>
          Question (14-15): Do you experience irritability, sadness, or anger?
        </h2>
        <div class="answers">
          <input type="button" name="Answer14" value="Yes" class="btn btn-primary ans-box">
          <input type="button" name="Answer14" value="No" class="btn btn-primary ans-box">
        </div>
        <button type="button" class="btn btn-success next-question">Next</button>
      </div>


      <div class="question-box" id="question15">
        <h2>
          Question (15-15): Do you experience fatigue and/or struggle to fall or stay asleep?
        </h2>
        <div class="answers">
          <input type="button" name="Answer15" value="Yes" class="btn btn-primary ans-box">
          <input type="button" name="Answer15" value="No" class="btn btn-primary ans-box">
        </div>
        <button type="button" class="btn btn-success last-question">Next</button>
      </div>
  </section>
    

  <section id="resultsSection" style="display: none;">

    <div class="results-box">
    </div>

    <button type="button" class="btn btn-success plan-btn">Your Plan Page</button>

  </section>




  <div class="wrapper">
                
    <div class="footer">
        <div class="footer_menu">
           <div class="col_1">
             
              <ul>
                <li><a href="questionnaire">Questionnaire</a></li>
                <li><a href="your-plan">Plan</a></li>
              </ul>
           </div>
           <div class="col_2">
             
              <ul>
                <li><a href="resources">Resources</a></li>
                <li><a href="contact">Contact</a></li>
              </ul>
           </div>
           <div class="col_3">
            
              <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Mood Tracker</a></li>
               
              </ul>
           </div>
         
        </div>
      
            <p>Copyright © Tranquil</p>
        </div>
    </div>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src = "/js/questionnaire-script.js"></script>
</html>