<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">  
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/CSS" href="../css/style.css">
    <title>Resources</title>
</head>



<body>

    <nav>
        <div class="logo">
            <h4> Tranquil</h4>
        </div>
        <ul class="nav-links">
            <li><a href="index">Home</a></li>
            <li><a href="questionnaire">Questionnaire</a></li>
            <li><a href="resources">Resources</a></li>
            <li><a href="your-plan">Plan</a></li>
            <li><a href="faq">FAQ</a></li>
            <li><a href="contact">Contact</a></li>
  
        </ul>
        <div class="accordian">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
      
    <h1>Resources</h1>

    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-item-header">
           <a href=" https://www.amazon.com/Cognitive-Behavioral-Workbook-Anxiety-Step/dp/1626250154/ref=sr_1_5?dchild=1&keywords=Anxiety+cbt&qid=1591994183&sr=8-5" target="_blank">The Cognitive Behavioral Workbook for Anxiety: A Step-By-Step Program </a>     
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
           
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-item-header">
            <a href=" https://www.amazon.com/Anxiety-Phobia-Workbook-Edmund-Bourne/dp/1684034833/ref=dp_ob_title_bk" target="_blank">The Anxiety and Phobia Workbook Paperback</a>   
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
           
          </div>
        </div>
      </div>
      
      <div class="accordion-item">
        <div class="accordion-item-header">
            <a href="https://www.amazon.com/Anxiety-Phobia-Workbook-Edmund-Bourne/dp/1684034833/ref=dp_ob_title_bk" target="_blank">The Anxiety and Phobia Workbook Paperback</a> 
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-item-header">
            <a href="https://www.amazon.com/Thoughts-Feelings-Taking-Control-Moods/dp/1608822087/ref=sr_1_3?crid=1Z6QXECMTSCUB&dchild=1&keywords=thoughts+and+feelings&qid=1591994376&s=books&sprefix=Thoughts+and%2Cstripbooks%2C160&sr=1-3" target="_blank">Thoughts and Feelings: Taking Control of Your Moods and Your Life</a>  
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            
          </div>
        </div>
      </div>
    
      <div class="accordion-item">
        <div class="accordion-item-header">
            <a href="https://www.amazon.com/Shyness-Social-Anxiety-Workbook-Step/dp/1626253404/ref=sr_1_1_sspa?crid=19M4L5F7QOGYH&dchild=1&keywords=shyness+and+social+anxiety+workbook&qid=1591994417&s=books&sprefix=Shyness%2Cstripbooks%2C287&sr=1-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUE3N1IxSjdSUFVYUyZlbmNyeXB0ZWRJZD1BMDE3MjMxMjMySkxTNUVFU1QzUFYmZW5jcnlwdGVkQWRJZD1BMDkxOTYxMjNPMUkyRTgyMlRLV0cmd2lkZ2V0TmFtZT1zcF9hdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl" target="_blank">The Shyness and Social Anxiety Workbook: Proven, Step-by-Step Techniques for Overcoming Your Fear (A New Harbinger Self-Help Workbook)</a> 
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
           
          </div>
        </div>
      </div>

    <div class="accordion-item">
        <div class="accordion-item-header">
            <a href="https://www.amazon.com/dp/1626253404/ref=cm_sw_em_r_mt_dp_U_3G-4Eb68TQ6NK" target="_blank">The Shyness and Social Anxiety Workbook: Proven, Step-by-Step Techniques for Overcoming Your Fear (A New Harbinger Self-Help Workbook)</a>  
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
           
          </div>
        </div>
      </div>

      
    <div class="accordion-item">
        <div class="accordion-item-header">
            <a href=" https://www.amazon.com/dp/1626254745/ref=cm_sw_em_r_mt_dp_U_sI-4Eb6S9E0EJ" target="_blank">The CBT Anxiety Solution Workbook: A Breakthrough Treatment for Overcoming Fear, Worry, and Panic (A New Harbinger Self-Help Workbook)</a>  
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
           
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-item-header">
            
       <a href="https://www.amazon.com/dp/1462509770/ref=cm_sw_em_r_mt_dp_U_uQ-4Eb5X68731" target="_blank"> The Cognitive Behavioral Workbook for Depression: A Step-by-Step Program (A New Harbinger Self-Help Workbook)

        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
          </div>
        </div>

          </div>

          <div class="accordion-item">
            <div class="accordion-item-header">
                

                <a href="https://www.amazon.com/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_stripbooks_sr_pg1_1?ie=UTF8&adId=A099414725LM95VVD3JXI&url=%2FCognitive-Behavioral-Workbook-Depression-Step%2Fdp%2F1608823806%2Fref%3Dsr_1_1_sspa%3Fcrid%3D31BFOYMKSHS4L%26dchild%3D1%26keywords%3Ddepression%2Bworkbook%26qid%3D1591994588%26s%3Dbooks%26sprefix%3DDepress%252Cstripbooks%252C155%26sr%3D1-1-spons%26psc%3D1&qualifier=1591994588&id=2699436867873407&widgetName=sp_atf" target="_blank"> The 10-Step Depression Relief Workbook: A Cognitive Behavioral Therapy Approach</a>  
                
    
            </div>
            <div class="accordion-item-body">
              <div class="accordion-item-body-content">
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-item-header">
            
                <a href="https://www.amazon.com/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_stripbooks_sr_pg1_1?ie=UTF8&adId=A099414725LM95VVD3JXI&url=%2FCognitive-Behavioral-Workbook-Depression-Step%2Fdp%2F1608823806%2Fref%3Dsr_1_1_sspa%3Fcrid%3D31BFOYMKSHS4L%26dchild%3D1%26keywords%3Ddepression%2Bworkbook%26qid%3D1591994588%26s%3Dbooks%26sprefix%3DDepress%252Cstripbooks%252C155%26sr%3D1-1-spons%26psc%3D1&qualifier=1591994588&id=2699436867873407&widgetName=sp_atf" target="_blank"> Cognitive Behavioral Therapy Made Simple: 10 Strategies for Managing Anxiety, Depression, Anger, Panic, and Worry</a>  
                
    
            </div>
            <div class="accordion-item-body">
              <div class="accordion-item-body-content">
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <div class="accordion-item-header">
                
             <a href="https://www.amazon.com/Anger-Workbook-Interactive-Guide-Management/dp/1401675433/ref=sr_1_3?dchild=1&keywords=Anger+workbook&qid=1591994953&s=books&sr=1-3" target="_blank">The Anger Workbook: An Interactive Guide to Anger Management</a>  
    
            </div>
            <div class="accordion-item-body">
              <div class="accordion-item-body-content">
                
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <div class="accordion-item-header">
                <a href="https://www.amazon.com/dp/1462509770/ref=cm_sw_em_r_mt_dp_U_uQ-4Eb5X68731" target="_blank">The Anger Management Workbook: Use the STOP Method to Replace Destructive Responses with Constructive Behavior (The Guilford Self-Help Workbook Series)</a>
                
            </div>
            <div class="accordion-item-body">
              <div class="accordion-item-body-content">
                
              </div>
            </div>
          </div>
          
          <div class="accordion-item">
            <div class="accordion-item-header">
                
                <a href="https://lp.talkspace.com/try/ct?siteID=Q.Sg3glZ_fs-Jt8QtzhcmNI9v1arNhrAVQ&ranMID=41986&ranEAID=Q*Sg3glZ%2Ffs&ranSiteID=Q.Sg3glZ_fs-Jt8QtzhcmNI9v1arNhrAVQ&LSNSUBSITE=LSNSUBSITE&utm_source=dotdash&utm_campaign=Affiliate_Linkshare&utm_keyword=3&utr_adgroup=3672320&utr_adid=37&utm_medium=affiliate" target="_blank">Talkspace</a>
                
            </div>
            <div class="accordion-item-body">
              <div class="accordion-item-body-content">
                
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <div class="accordion-item-header">
                <a href="https://lp.talkspace.com/try/ct?siteID=Q.Sg3glZ_fs-Jt8QtzhcmNI9v1arNhrAVQ&ranMID=41986&ranEAID=Q*Sg3glZ%2Ffs&ranSiteID=Q.Sg3glZ_fs-Jt8QtzhcmNI9v1arNhrAVQ&LSNSUBSITE=LSNSUBSITE&utm_source=dotdash&utm_campaign=Affiliate_Linkshare&utm_keyword=3&utr_adgroup=3672320&utr_adid=37&utm_medium=affiliate" target="_blank">Betterhelp </a>  
            </div>
            <div class="accordion-item-body">
              <div class="accordion-item-body-content">
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <div class="accordion-item-header">
                <a href="https://www.findatherapist.com/search/" target="_blank"> Find a therapist </a>
            </div>
            <div class="accordion-item-body">
              <div class="accordion-item-body-content">
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <div class="accordion-item-header">
                <a href="https://members.adaa.org/search/custom.asp?id=4685" target="_blank">  Anxiety and Depression Association of America </a>
            </div>
            <div class="accordion-item-body">
              <div class="accordion-item-body-content">
                
              </div>
            </div>
          </div>
      </div>

      <div class="wrapper">
                
        <div class="footer">
          <div class="footer_menu">
             <div class="col_1">
               
                <ul>
                  <li><a href="questionnaire">Questionnaire</a></li>
                  <li><a href="your-plan">Plan</a></li>
                </ul>
             </div>
             <div class="col_2">
               
                <ul>
                  <li><a href="resources">Resources</a></li>
                  <li><a href="contact">Contact</a></li>
                </ul>
             </div>
             <div class="col_3">
              
                <ul>
                  <li><a href="index">Home</a></li>
                  <li><a href="faq">FAQ</a></li>
                 
                </ul>
             </div>
               
              </div>
            
                  <p>Copyright © Tranquil</p>
              </div>
          </div>
      </div>

      <script src="nav-script.js"></script>
    <script src="/js/accordion-script.js"></script>
</body>


           
</html>