<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/CSS" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet"> 
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Your Plan</title>
</head>
<body>
     <nav>
      <div class="logo">
          <h4> Tranquil</h4>
      </div>
      <ul class="nav-links">
          <li><a href="index">Home</a></li>
          <li><a href="questionnaire">Questionnaire</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="your-plan">Plan</a></li>
          <li><a href="faq">FAQ</a></li>
          <li><a href="contact">Contact</a></li>

      </ul>
      <div class="accordian">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
      </div>
  </nav>
    
        <h1 class ="middle-text"> To Do List </h1>

          <section id="toDoList" style="display: none;">
    <div class="toDoList-box">
      <div class="toDoList-items">
        <div id="anger" style="display: none;">
          <h4 class="tl-item">Get some exercise<i class="fa fa-times closeBtn"></i></h4>
          <h4 class="tl-item">Do not hold a grudge<i class="fa fa-times closeBtn"></i></h4>
          <h4 class="tl-item">Use humor to release tension<i class="fa fa-times closeBtn"></i></h4>
        </div>
        <div id="depression" style="display: none;">
          <h4 class="tl-item">Drink water<i class="fa fa-times closeBtn"></i></h4>
          <h4 class="tl-item">Rest your mind<i class="fa fa-times closeBtn"></i></h4>
          <h4 class="tl-item">Do something you enjoy<i class="fa fa-times closeBtn"></i></h4>
        </div>
        <div id="stress" style="display: none;">
          <h4 class="tl-item">Keep a positive attitude<i class="fa fa-times closeBtn"></i></h4>
          <h4 class="tl-item">Be assertive instead of aggressive<i class="fa fa-times closeBtn"></i></h4>
          <h4 class="tl-item">Eat healthy, well-balanced meals<i class="fa fa-times closeBtn"></i></h4>
        </div>
      </div>
    </div>
  </section>


  <div class="wrapper">
                
    <div class="footer">
      <div class="footer_menu">
         <div class="col_1">
           
            <ul>
              <li><a href="questionnaire">Questionnaire</a></li>
              <li><a href="your-plan">Plan</a></li>
            </ul>
         </div>
         <div class="col_2">
           
            <ul>
              <li><a href="resources">Resources</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>
         </div>
         <div class="col_3">
          
            <ul>
              <li><a href="index">Home</a></li>
              <li><a href="faq">FAQ</a></li>
             
            </ul>
         </div>
           
          </div>
        
              <p>Copyright © Tranquil</p>
          </div>
      </div>
  </div>

  <script src="nav-script.js"></script>
  <script src = "/js/plan.js"></script>


</body>
</html>